{% block body %}
	<div class="container">
		<h1>{{"now"|date("d/m/Y")}}</h1>
		<h4>Vous avez
			<u>{{ tasks|length }}</u>
			tâche(s)</h4>
		{% for task in tasks %}
			<div class="border p-1">
				-
				{{task.description}}</div>
			 <div>
                {{ include('task/_done_form.html.twig') }}
                {{ include('task/_delete_form.html.twig') }}</div>

		{% else %}
			<div>Vous avez aucune tâche pour aujourdh'ui</div>
		{% endfor %}
		{{ render(controller(
        'App\\Controller\\TaskController::new'
    )) }}


	</div>
{% endblock %}
