{% block body %}
	<div class="container">
		<div style="text-align:center">
			<h1>{{app.user.team.name}}</h1>
			<div>Ajouter un membre en lui envoyant  ce code
				<span class="p-1" style="border-style:dashed">{{app.user.team.code}}</span>
			</div>
		</div>
		<h5>{{"now"|date("d/m/Y")}}</h5>

		{% for task in tasks %}
			{% if (task.createdAt|date("d/m/Y")) == ("now"|date("d/m/Y")) %}
				<div class="border p-1 mb-2 border-dark rounded">
					<div class="row">
						<h5 class="col-md-7 ">
							{{task.description}}</h5>

						<div class="col-md-1">
							{{ include('task/_done_form.html.twig') }}
						</div>
						<div class="col-md-1">
							{{ include('task/_delete_form.html.twig') }}
						</div>
						<div class="col-md-2">
							{{ task.user.email}}
						</div>

					</div>
				</Div>
			{% endif %}
		{% else %}
			<div>Vous avez aucune tâche pour aujourdh'ui</div>
		{% endfor %}

		<div class="border p-1">
			{{ render(controller(
        'App\\Controller\\TaskController::new'
    )) }}
		</div>
		<hr/>
		{% for donetask in donetasks %}
			{% if (donetask.createdAt|date("d/m/Y")) == ("now"|date("d/m/Y")) %}
				<div class=" border p-1 mb-2 border-dark rounded">
					<div class="row">
						<h5 class="col-md-7 ">
							{{donetask.description}}</h5>
						<div class="col-md-1">
							{{ include('task/_undo_form.html.twig') }}</div>

					</div>
				</div>

			{% endif %}
		{% else %}
			<div style="color:red">Vous avez accompli aucune tâche </div>
		{% endfor %}


	</div>
{% endblock %}
