{% block body %}
	<div class="container">
		<h1>{{"now"|date("d/m/Y")}}</h1>
		<h4>Vous avez
			<u>{{ tasks|length }}</u>
			tâche(s)</h4>
		{% for task in tasks %}
			<div class="row border p-1 mb-2 border-dark rounded">
				<h5 class="col-md-8 ">
					{{task.description}}</h5>

				<div class="col-md-2">
					{{ include('task/_done_form.html.twig') }}
				</div>
				<div class="col-md-2">
					{{ include('task/_delete_form.html.twig') }}
				</div>

			</div>

		{% else %}
			<div>Vous avez aucune tâche pour aujourdh'ui</div>
		{% endfor %}
		{{ render(controller(
        'App\\Controller\\TaskController::new'
    )) }}
		<hr/>

		<h4>Vous avez
					accomplis
			<u>{{ donetasks|length }}</u>
			tâche(s) </h4>
		{% for donetask in donetasks %}

			<div class="row border p-1 mb-2 border-dark rounded">
				<h5 class="col-md-8 ">
					{{donetask.description}}</h5>

				<div class="col-md-2">
				{{ include('task/_undo_form.html.twig') }}</div>
		

			</div>

		{% else %}
			<div>
				no record found</div>
		{% endfor %}


	</div>
{% endblock %}
